body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Candal, sans-serif;
}
.SettingsContainer{
    width: 100%;
    position: absolute;
    height: 105vh;
    left: 0;
    top: 0;
    background-color: rgb(241, 240, 243);
    display: flex;
    justify-content: left;
    z-index: 3;
    overflow: hidden;
    padding-top: 10px;
}
.myAccountForm{
    position: absolute;
    left: 450px;
    width: 40%;
    height: 75%;
    background-color: rgb(241, 240, 243);
}
.myAccountForm div{
    margin: 0px auto;
    width: 70%;
    margin-bottom: 20px;
}
.logo{
    width: 100%;
    height: 90px; 
    
}

.settingBtn .btn{
    position: relative;
    top:20px;
    width: 150px;
    height: 50px;
    border-radius: 5px ;
    font-size: medium;
    font-weight: bold;
    color: rgb(56,153,238);
    border: 1px solid rgb(56,153,238);
    
}
.settingBtn .btn:hover{ 
    color: white;
    background-color: rgb(56,153,238);
    cursor: pointer;
}
.sideBar{
    height: 50%;
    width: 10%;
    padding-left: 60px;
    padding-top: 100px;
    display: block;
}
.sideBar label{
    color: rgb(142, 142, 230);
}
.settingCon span{
    display: block;
}
.info{
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 30px;
}
.settingCon p{
    position: relative;
    top: 10px;
    color: grey;
}
.homeBtn .back{
    position: relative;
    top:20px;
    width: 150px;
    height: 50px;
    border-radius: 5px ;
    font-size: medium;
    font-weight: bold;
    color: rgb(56,153,238);
    border: 1px solid rgb(56,153,238);   
}
.homeBtn .back:hover{ 
    color: white;
    background-color: rgb(56,153,238);
    cursor: pointer;
}

.MyAccount label{
    width: 90%;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;    
    color: grey;
}
.MyAccount{
    font-size: medium;
    font-weight: 100;
    height: 70px;
    color: rgb(131, 131, 137);
    display: block;
    margin-top:30px ;
    position: relative;
    background-color: rebeccapurple;
}
.MyAccount div{
    width: 100%;
    position: relative;
}
.accountText label{
    color: rgb(70, 70, 72);
}
